
%html
    %head  
        %link{:rel => :stylesheet, :type => :"text/css", :href => "/javascript/packs/stylesheets/application.scss"} 
    %body  
        .container
            .row
                .profile
                    .container
                        .row
                            .col
                                .img
                                    %img.img-raised.rounded-circle.img-fluid{:alt => "Circle Image", :src => "https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTU0NjQzOTk4OTQ4OTkyMzQy/ansel-elgort-poses-for-a-portrait-during-the-baby-driver-premiere-2017-sxsw-conference-and-festivals-on-march-11-2017-in-austin-texas-photo-by-matt-winkelmeyer_getty-imagesfor-sxsw-square.jpg"}/
                            .row
                                .col    
                                    .row
                                        .name
                                            %h3 #{@representatives.name}
                                    .row
                                        .title
                                            %h6 #{@representatives.title}
                                    .row
                                        .ocdid
                                            %h6 #{@representatives.ocdid}


                    



